h4 {
    color: slategrey;
    /*How to get a decorative line:*/
    /*Declare a border on just one side of the object*/
    border-left: solid 1px slategrey;
    /*Space the border away from the content*/
    padding-left: 10px;
}
